/*----------Color Variables----------*/
/*----------Mixins----------*/
/*----------Element Styles----------*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
* {
  border-radius: 0 !important;
}
body {
  background-color: #ffffff !important;
  font: 400 14px/150% 'Open Sans', Helvetica, sans-serif !important;
  color: #363636 !important;
}
body .row {
  margin: 20px 0;
}
body .row .ubif-logo {
  height: 28px;
}
body .row .request-info {
  background-color: #da291c;
  color: #ffffff;
  max-width: 110px;
}
body .row .cta-title {
  font: 300 32px/150% 'Open Sans', Helvetica, sans-serif !important;
  color: #da291c !important;
}
body .row .cta-title + p {
  margin: 0 0 40px 0;
}
body .thesis-section {
  background-color: #da291c;
  height: 220px;
  z-index: 1;
}
body .thesis-section .col-md-10 {
  color: #ffffff;
  padding: 25px 0 45px 13%;
}
body .thesis-section .col-md-10 h3 {
  font: 300 30px/150% 'Open Sans', Helvetica, sans-serif !important;
  color: #ffffff !important;
}
body .thesis-section .col-md-10 p {
  padding: 0 13% 0 0;
}
body .numbers-section {
  background-color: #eeeeee;
  height: 220px;
}
body .numbers-section .col-md-10 {
  padding: 18px 0 24px 0;
}
body .numbers-section .col-md-10 h3 {
  font: 800 38px/150% 'Open Sans', Helvetica, sans-serif !important;
  color: #363636 !important;
}
body .numbers-section .col-md-10 h2 {
  font: 800 48px/150% 'Open Sans', Helvetica, sans-serif !important;
  color: #da291c !important;
  line-height: 100% !important;
  margin-bottom: 0;
}
body .numbers-section .col-md-10 small {
  font: 400 12px/150% 'Open Sans', Helvetica, sans-serif !important;
  color: #363636 !important;
}
body .numbers-section .broken-phone {
  position: absolute;
  right: 105%;
  width: 26%;
}
body .container-fluid {
  padding: 0;
}
body .container-fluid .phone-users {
  background-color: #ffffff;
  padding: 20px 0;
}
body .container-fluid .phone-users small {
  color: #898989;
}
body .container-fluid .contact-form {
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../assets/images/store.jpg) no-repeat center -180px fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../assets/images/store.jpg) no-repeat center -180px fixed;
}
body .container-fluid .contact-form h3 {
  font: 300 30px/150% 'Open Sans', Helvetica, sans-serif !important;
  color: #eeeeee !important;
  margin: 35px 0 35px 0;
}
body .container-fluid .contact-form form {
  background-color: #eeeeee;
  padding: 30px 10px;
  margin: 0 0 100px 0;
}
body .container-fluid .contact-form form .col-md-12,
body .container-fluid .contact-form form .col-md-6 {
  margin: 0 0 20px 0;
}
body .container-fluid .contact-form form button {
  background-color: #da291c;
  color: #ffffff;
  margin: 0 15px;
  width: 100%;
}
body .footer {
  background-color: #000000;
  height: auto;
  padding: 10px 0;
}
body .footer .footer-info {
  font: 400 14px/150% 'Open Sans', Helvetica, sans-serif !important;
  color: #898989 !important;
  padding: 20px 0;
}
body .footer .footer-disclaimer {
  font: 400 12px/150% 'Open Sans', Helvetica, sans-serif !important;
  color: #464646 !important;
}
