
/*----------Color Variables----------*/

@ubif-red: #da291c;
@font-grey: #363636;
@font-white: #ffffff;
@background-white: #eeeeee;
@disclaimer-grey: #464646;
@info-grey: #898989;
@footer-black: #000000;

/*----------Mixins----------*/

.font-style(@size,@weight,@color){

  	font: @weight unit(@size, px)/150% 'Open Sans', Helvetica, sans-serif !important;
  	color: @color !important;

}

/*----------Element Styles----------*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

* {
  border-radius: 0 !important;
}

body{
	background-color: @font-white !important;
	.font-style(14,400,@font-grey);

	.row{
		margin:20px 0;

		.ubif-logo{
			height: 28px;
		}

		.request-info{
			background-color: @ubif-red;
			color: @font-white;
			max-width: 110px;
		}

		.cta-title{
			.font-style(32,300,@ubif-red);

			& + p{
				margin: 0 0 40px 0;
			}
		}
	}

	.thesis-section{
		background-color: @ubif-red;
		height: 220px;
		z-index: 1;

		.col-md-10{
			color:@font-white;
			padding:25px 0 45px 13%;

			h3{
				.font-style(30,300,@font-white);
			}

			p{
				padding:0 13% 0 0;
			}
		}
	}

	.numbers-section{
		background-color: @background-white;
		height: 220px;

		.col-md-10{
			padding:18px 0 24px 0;

			h3{
				.font-style(38,800,@font-grey);
			}

			h2{
				.font-style(48,800,@ubif-red);
				line-height: 100% !important;
				margin-bottom: 0;
			}

			small{
				.font-style(12,400,@font-grey);	
			}
		}

		.broken-phone{
			position: absolute;
			right: 105%;
			width: 26%;
		}
	}

	.container-fluid{
		padding: 0;

		.phone-users{
			background-color: @font-white;
			padding: 20px 0;

			small{
				color: @info-grey;
			}
		}

		.contact-form{
			background: linear-gradient(
		      rgba(0, 0, 0, 0.65), 
		      rgba(0, 0, 0, 0.65)
    		), url(../assets/images/store.jpg) no-repeat center -180px fixed;

			h3{
				.font-style(30,300,@background-white);
				margin: 35px 0 35px 0;
			}

			form{
				background-color: @background-white;
				padding: 30px 10px;
				margin: 0 0 100px 0;

				.col-md-12,.col-md-6{
					margin: 0 0 20px 0;
				}

				button{
					background-color: @ubif-red;
					color: @font-white;
					margin: 0 15px;
					width: 100%;
				}
			}
		}
	}

	.footer{
		background-color: @footer-black;
		height: auto;
		padding: 10px 0;

		.footer-info{
			.font-style(14,400,@info-grey);
			padding: 20px 0;
		}

		.footer-disclaimer{
			.font-style(12,400,@disclaimer-grey);
		}
	}
}